{% extends "base.html" %}

{% block content %}
<div style="padding:50px; text-align:center;">
   <div style="padding:50px; text-align:center;">
    <h1>Contact Us</h1>
    <p>We're here to help with all your shipment and logistics needs.</p>

    <div class="contact-cards">
        <div class="contact-card">
            <h3>📧 Email</h3>
            <p>nepxpress@gmail.com</p>
        </div>

        <div class="contact-card">
            <h3>📞 Phone</h3>
            <p>+977 9841234567</p>
        </div>

        <div class="contact-card">
            <h3>📍 Address</h3>
            <p>Kathmandu, Nepal</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
